<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-default fw">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand title">Footeware</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/gear">Gear</a></li>
					<li><a href="/webcam">Webcam</a></li>
					<li><a href="/jokes">Jokes</a></li>
					<li class="active"><a href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container padTopAndBottom">
		<div class="row center">
			<img src="/images/dsc_1595.jpg" alt="Annie Foote"
				style="width: 80%; margin-left: auto; margin-right: auto; margin-bottom: 50px;" />
			<p>
				<button type="button">
					<a href="/AnnieFooteCookbook/AnnieFooteCookbook.html"> View
						Online </a>
				</button>
			</p>
			<p>
				<button type="button">
					<a href="/images/AnnieFooteCookbook.pdf"> Download the PDF</a>
				</button>
			</p>
			<p>
				<button type="button">
					<a href="/gallery/Cookbook">Cookbook in Gallery</a>
				</button>
			</p>
			<br />
			<br />
			<iframe src="/images/AnnieFooteCookbook.pdf"
				alt="Annie Foote's Cookbook" class="center bordered" width="100%"
				height="750" title="Annie Foote's Cookbook (PDF)"
				style="width: 100%;"> </iframe>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>