<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="{fragments/head :: head}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-bordered-bottom">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbar"
				aria-controls="navbar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center"
				id="navbar">
				<span
					class="navbar-brand title animate__animated animate__zoomInLeft">Footeware</span>
				<ul class="navbar-nav title-links">
					<li class="nav-item"><a class="nav-link" aria-current="page"
						href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="/gear">Gear</a></li>
					<li class="nav-item"><a class="nav-link" href="/webcam">Webcam</a></li>
					<li class="nav-item"><a class="nav-link active"
						href="http://footeware.ca:8080">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<h3 class="title center">Cookbook</h3>
			<p>
				<img src="/images/dsc_1595.jpg" alt="Annie Foote"
					class="bordered center" />
			</p>
			<p class="center">
				<a href="/AnnieFooteCookbook/AnnieFooteCookbook.html" class="link">
					View Online </a>
			</p>
			<p class="center">
				<a href="/gallery/Cookbook" class="link">Cookbook in Gallery</a>
			</p>
			<p class="center">
				<iframe src="/images/AnnieFooteCookbook.pdf"
					class="bordered full-width" height="750"
					title="Annie Foote's Cookbook (PDF)"> </iframe>
			</p>
		</div>
	</div>
	<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>