<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top fw">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand title">Footeware</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/gear">Gear</a></li>
					<li><a href="/webcam">Webcam</a></li>
					<li class="active"><a href="/jokes">Jokes</a></li>
					<li><a href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container padTopAndBottom">
		<div>
			<div class="left center">
				<p th:if="${error}" th:text="${error}" />
				<form action="#" th:action="@{/jokes/edit}" th:method="POST"
					th:if="${joke}">
					<p>
						<input id="id" name="id" th:value="${joke.id}" type="hidden" /> <input
							id="title" class="form-control"
							style="background-color: cornsilk" type="text" name="title"
							required="required" autofocus="autofocus"
							th:value="${joke.title}" placeholder="Title" />
					</p>
					<p>
						<textarea id="body" class="form-control"
							style="background-color: cornsilk" name="body" rows="15"
							maxlength="1000" spellcheck="true" required="required"
							wrap="hard" th:text="${joke.body}" placeholder="Body"></textarea>
					</p>
					<p class="right">
						<a href="/jokes" class="btn btn-warning" role="button">Cancel</a>
						<input type="submit" class="btn btn-primary" value="Submit" />
					</p>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>