<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-bordered-bottom"
		aria-label="Tenth navbar example">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbar"
				aria-controls="navbar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center"
				id="navbar">
				<span class="navbar-brand title">Footeware</span>
				<ul class="navbar-nav title-links">
					<li class="nav-item"><a class="nav-link" aria-current="page"
						href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="/gear">Gear</a></li>
					<li class="nav-item"><a class="nav-link" href="/webcam">Webcam</a></li>
					<li class="nav-item"><a class="nav-link active" href="/jokes">Jokes</a></li>
					<li class="nav-item"><a class="nav-link" href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container padTopAndBottom">
		<h3 class="title center">Edit Joke</h3>
		<div class="left center">
			<p th:if="${error}" th:text="${error}" />
			<form action="#" th:action="@{/jokes/edit}" th:method="POST"
				th:if="${joke}">
				<p>
					<input id="id" name="id" th:value="${joke.id}" type="hidden" /> <input
						id="title" class="form-control" style="background-color: #8fbcbb;"
						type="text" name="title" required="required" autofocus="autofocus"
						th:value="${joke.title}" placeholder="Title" />
				</p>
				<p>
					<textarea id="body" class="form-control"
						style="background-color: #8fbcbb" name="body" rows="15"
						maxlength="1000" spellcheck="true" required="required" wrap="hard"
						th:text="${joke.body}" placeholder="Body"></textarea>
				</p>
				<p class="right">
					<a href="/jokes" class="btn btn-warning" role="button">Cancel</a> <input
						type="submit" class="btn btn-primary" value="Submit" />
				</p>
			</form>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>