<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-default fw">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand title">Footeware</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/gallery">Gallery</a></li>
					<li><a href="/gear">Gear</a></li>
					<li><a href="/webcam">Webcam</a></li>
					<li><a href="/jokes">Jokes</a></li>
					<li><a href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container padTopAndBottom">
		<h3 th:if="${galleryName}" th:text="${galleryName}" class="title"></h3>
		<h3 th:if="${galleries}" th:text="Galleries" class="title"></h3>

		<!-- a list of galleries, or... -->
		<div class="row" th:if="${galleries}">
			<div class="col-sm-6">
				<ul>
					<li th:each="gallery : ${galleries}"><a
						th:href="@{'/gallery/' + ${gallery.name}}" th:text="${gallery.name}"></a>
						<img src="/images/lock.png" alt="locked" th:if="${gallery.secret}"/>
					</li>
				</ul>
			</div>
			<div class="col-sm-6" style="border-left: 2px solid #bf616a">
				<a title="Female Mallard" data-fancybox="gallery"
					data-caption="Female Mallard" href="/images/duck.jpg"><img
					class="bordered center" src="/images/duck.jpg" alt="Female Mallard"
					style="width: 50%" /></a>
			</div>
		</div>

		<!-- a list of thumbnails in one gallery -->
		<div class="row" th:if="${thumbs}">
			<div class="col">
				<ul class="center">
					<li class="inline" th:each="thumb : ${thumbs}"><a
						data-fancybox="gallery"
						th:href="@{'/gallery/' + ${galleryName} + '/' + ${thumb.key}}"><img
							th:title="${thumb.value}"
							th:src="@{'/gallery/thumbnails/' + ${galleryName} + '/' + ${thumb.key}}"
							alt="thumbnail" th:alt="${thumb.key}" /></a></li>
				</ul>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>