<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand title">Footeware</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/gear">Gear</a></li>
					<li><a href="/webcam">Webcam</a></li>
					<li><a href="/jokes">Jokes</a></li>
					<li><a href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<section class="container">
		<div>
			<img src="/images/programmer.jpg" class="center bordered"
				alt="Programmer" />
		</div>
	</section>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>