<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark navbar-bordered-bottom"
		aria-label="Tenth navbar example">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbar"
				aria-controls="navbar" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center"
				id="navbar">
				<span class="navbar-brand title">Footeware</span>
				<ul class="navbar-nav title-links">
					<li class="nav-item"><a class="nav-link" aria-current="page"
						href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
					<li class="nav-item"><a class="nav-link" href="/gear">Gear</a></li>
					<li class="nav-item"><a class="nav-link" href="/webcam">Webcam</a></li>
					<li class="nav-item"><a class="nav-link active" href="/jokes">Jokes</a></li>
					<li class="nav-item"><a class="nav-link" href="/cookbook">Cookbook</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<h3 class="title center">Jokes</h3>
		<div class="accordion" id="accordion">
			<div class="accordion-item" th:each="joke,iterStat : ${jokes}">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed green" type="button"
						th:text="${joke.title}" data-bs-toggle="collapse"
						th:data-bs-target="'#collapse-'+${iterStat.count}"
						aria-expanded="true">title</button>
				</h2>
				<div th:id="'collapse-'+${iterStat.count}"
					class="accordion-collapse collapse" aria-labelledby="headingOne"
					data-bs-parent="#accordion">
					<div class="accordion-body" th:text="${joke.body}">body</div>
					<div class="right margin">
						<a th:href="@{/jokes/edit/{id}(id=${joke.id})}"
							class="btn btn-primary" role="button">Edit</a> <a
							th:href="@{/jokes/delete/{id}(id=${joke.id})}"
							class="btn btn-danger" role="button">Delete</a>
					</div>
				</div>
			</div>
			<div class="right margin">
				Leave a joke! <a href="/jokes/add" class="btn btn-primary"
					role="button">Add</a>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>