@charset "UTF-8";

@font-face {
	font-family: "fmc";
	src: url(/fonts/fmc.ttf) format("truetype");
}

@font-face {
	font-family: "decker";
	src: url(/fonts/Decker.ttf) format("truetype");
}

html, body {
	width: 100%;
	height: 100%;
	cursor: url("/images/foot.png"), default;
	background-color: #d8dee9 !important;
}

.title {
	font-family: "fmc";
	font-size: 2.5em !important;
	color: #4c566a;
}

.navbar-bordered-bottom {
	background-color: #4c566a;
	border-bottom: 4px solid #bf616a;
	margin-bottom: 20px;
}

.title-links {
	font-family: "decker";
	font-size: 1.3em;
}

.active {
	background-color: #3b4252;
	border-radius: 0.3em;
}

.full-width {
	width: 100%;
}

.footer {
	height: 100%;
	border-top: 4px solid #bf616a;
	padding: 20px;
	margin-top: 20px;
	text-align: right;
}

.no-bullet {
	list-style-type: none;
	margin: 15px;
}

.link {
	text-decoration: none;
	font-family: "decker";
	font-size: 1.5em;
	color: #4c566a;
}

.left-red-border {
	border-left: 4px solid #bf616a;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bordered {
	border: 4px solid #bf616a;
}

.inline {
	display: inline;
}

padded {
	padding: 5px;
}

.right {
	text-align: right;
}

.green {
	background-color: #a3be8c !important;
}

.margin{
	margin: 5px;
}

#webcamimage {
	width: 640px;
	height: 480px;
}

img.padded {
	padding: 20px;
}



