@charset "UTF-8";

/**
 * To accompany ca.footeware.web-6.x.x
 */
body {
	background-color: #eceff4 !important;
/* 	background-image: none; */
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

a {
	color: #9d9d9d; /* gray */
	text-decoration: none;
}

a:hover {
	color: #b48ead !important;
	transition: 0.5s ease;
	text-decoration: none;
}

a:visited {
	color: #9d9d9d !important;
	text-decoration: none;
}

a:focus {
	color: #d08770 !important;
	outline: none;
	text-decoration: none;
}

.fw {
	background-color: #d8dee9 !important;
	border-bottom: 5px groove #5e81ac !important;
}

img {
	margin: 0;
	padding: 0;
}

footer {
	margin-top: 20px;
	border-top: 5px groove #5e81ac;
	text-align: right;
}

.padTopAndBottom {
	padding: 0 0 40px 0;
}